.modal {
  position: fixed;
  top: -100px;
  transition: top 300ms ease;
}

.modal.open {
  top: 20px;
}


/* Ahora solo afecta fase de composite, no de reflow  */
.modal {
  position: fixed;
  top: 20px;
  /* posición final */
  transform: translateY(-120px);
  transition: transform 300ms ease;
  will-change: transform;
}

.modal.open {
  transform: translateY(0);
}